In [2]:
import csv
import os
import pandas as pd

# 读取所有分片数据进列表

In [2]:
dataset = list()
for i in range(280):
    file_name = os.path.join(r'E:\resources\project\bert\bert-master\data_collection', 'request'+str(i)+'.csv')
    # print(file_name)
    with open(file_name, 'r', encoding='utf-8') as file:
        data = pd.read_csv(file_name)
        dataset.append(data)

print(len(dataset))

280

In [3]:
print(type(dataset[80]))

<class 'pandas.core.frame.DataFrame'>

# 删除相邻文件的重复行（由于爬虫延时产生）

In [4]:

year = 2024
count = 0

for i in range(len(dataset)):
     # print('current table length: ' + str(len(dataset[i])))
     # print(dataset[i].iloc[0].values)

     if i != 0:
          target = dataset[i].iloc[0]
          # print(target.values)

          for j in range(len(dataset[i-1])):

               current = dataset[i-1].iloc[j]
               # print(current.values)

               if target.equals(current) == True:

                    count += 1
                    print('the same rows in %d and %d are from %d to %d' % (i-1,i,j, len(dataset[i-1])-1))
                    dataset[6].drop(dataset[6].index[(j):(len(dataset[i-1]))], inplace=True)

print(count)

the same rows in 6 and 7 are from 2799 to 2799
the same rows in 18 and 19 are from 2799 to 2799
the same rows in 19 and 20 are from 2366 to 2799
the same rows in 20 and 21 are from 2794 to 2799
the same rows in 21 and 22 are from 2789 to 2799
the same rows in 22 and 23 are from 2797 to 2799
the same rows in 23 and 24 are from 2796 to 2799
the same rows in 24 and 25 are from 2785 to 2799
the same rows in 25 and 26 are from 2765 to 2799
the same rows in 26 and 27 are from 2742 to 2799
the same rows in 27 and 28 are from 2751 to 2799
the same rows in 28 and 29 are from 2776 to 2799
the same rows in 29 and 30 are from 2787 to 2799
the same rows in 30 and 31 are from 2780 to 2799
the same rows in 31 and 32 are from 2780 to 2799
the same rows in 32 and 33 are from 2793 to 2799
the same rows in 33 and 34 are from 2789 to 2799
the same rows in 34 and 35 are from 2793 to 2799
the same rows in 35 and 36 are from 2795 to 2799
the same rows in 36 and 37 are from 2796 to 2799
the same rows in 37 and 38 are from 2799 to 2799
the same rows in 38 and 39 are from 2798 to 2799
the same rows in 39 and 40 are from 2799 to 2799
the same rows in 41 and 42 are from 2795 to 2799
the same rows in 42 and 43 are from 2797 to 2799
the same rows in 43 and 44 are from 2798 to 2799
the same rows in 45 and 46 are from 2797 to 2799
the same rows in 46 and 47 are from 2799 to 2799
the same rows in 48 and 49 are from 2798 to 2799
the same rows in 50 and 51 are from 2799 to 2799
the same rows in 51 and 52 are from 2797 to 2799
the same rows in 56 and 57 are from 2798 to 2799
the same rows in 57 and 58 are from 2796 to 2799
the same rows in 59 and 60 are from 2797 to 2799
the same rows in 60 and 61 are from 2798 to 2799
the same rows in 62 and 63 are from 2796 to 2799
the same rows in 64 and 65 are from 2797 to 2799
the same rows in 66 and 67 are from 2798 to 2799
the same rows in 67 and 68 are from 2798 to 2799
the same rows in 68 and 69 are from 2799 to 2799
the same rows in 69 and 70 are from 2799 to 2799
the same rows in 70 and 71 are from 2799 to 2799
the same rows in 71 and 72 are from 2798 to 2799
the same rows in 72 and 73 are from 2798 to 2799
the same rows in 73 and 74 are from 2798 to 2799
the same rows in 75 and 76 are from 2799 to 2799
the same rows in 76 and 77 are from 2798 to 2799
the same rows in 77 and 78 are from 2799 to 2799
the same rows in 80 and 81 are from 2799 to 2799
the same rows in 85 and 86 are from 2799 to 2799
the same rows in 87 and 88 are from 2799 to 2799
the same rows in 91 and 92 are from 2798 to 2798
the same rows in 102 and 103 are from 2799 to 2799
the same rows in 104 and 105 are from 2799 to 2799
the same rows in 106 and 107 are from 2799 to 2799
the same rows in 109 and 110 are from 2799 to 2799
the same rows in 113 and 114 are from 2799 to 2799
the same rows in 114 and 115 are from 2799 to 2799
the same rows in 115 and 116 are from 2799 to 2799
the same rows in 117 and 118 are from 2799 to 2799
the same rows in 122 and 123 are from 2799 to 2799
the same rows in 123 and 124 are from 2799 to 2799
the same rows in 124 and 125 are from 2794 to 2799
the same rows in 125 and 126 are from 2799 to 2799
the same rows in 126 and 127 are from 2774 to 2799
the same rows in 127 and 128 are from 2792 to 2799
the same rows in 128 and 129 are from 2760 to 2799
the same rows in 129 and 130 are from 2780 to 2799
the same rows in 130 and 131 are from 2778 to 2799
the same rows in 131 and 132 are from 2785 to 2799
the same rows in 132 and 133 are from 2791 to 2799
the same rows in 133 and 134 are from 2785 to 2799
the same rows in 134 and 135 are from 2780 to 2799
the same rows in 135 and 136 are from 2794 to 2799
the same rows in 136 and 137 are from 2796 to 2799
the same rows in 137 and 138 are from 2792 to 2799
the same rows in 138 and 139 are from 2797 to 2799
the same rows in 139 and 140 are from 2798 to 2799
the same rows in 141 and 142 are from 2798 to 2799
the same rows in 142 and 143 are from 2799 to 2799
the same rows in 143 and 144 are from 2798 to 2799
the same rows in 144 and 145 are from 2792 to 2799
the same rows in 145 and 146 are from 2784 to 2799
the same rows in 146 and 147 are from 2787 to 2799
the same rows in 147 and 148 are from 2785 to 2799
the same rows in 148 and 149 are from 2780 to 2799
the same rows in 149 and 150 are from 2793 to 2799
the same rows in 150 and 151 are from 2793 to 2799
the same rows in 151 and 152 are from 2796 to 2799
the same rows in 152 and 153 are from 2790 to 2799
the same rows in 153 and 154 are from 2794 to 2799
the same rows in 154 and 155 are from 2794 to 2799
the same rows in 155 and 156 are from 2798 to 2799
the same rows in 156 and 157 are from 2798 to 2799
the same rows in 157 and 158 are from 2798 to 2799
the same rows in 158 and 159 are from 2799 to 2799
the same rows in 160 and 161 are from 2797 to 2799
the same rows in 162 and 163 are from 2796 to 2799
the same rows in 163 and 164 are from 2799 to 2799
the same rows in 164 and 165 are from 2798 to 2799
the same rows in 165 and 166 are from 2797 to 2799
the same rows in 168 and 169 are from 2798 to 2799
the same rows in 172 and 173 are from 2799 to 2799
the same rows in 176 and 177 are from 2799 to 2799
the same rows in 177 and 178 are from 2799 to 2799
the same rows in 178 and 179 are from 2798 to 2799
the same rows in 179 and 180 are from 2799 to 2799
the same rows in 180 and 181 are from 2798 to 2799
the same rows in 181 and 182 are from 2797 to 2799
the same rows in 182 and 183 are from 2798 to 2799
the same rows in 186 and 187 are from 2799 to 2799
the same rows in 193 and 194 are from 2799 to 2799
the same rows in 194 and 195 are from 2799 to 2799
the same rows in 196 and 197 are from 2799 to 2799
the same rows in 200 and 201 are from 2798 to 2799
the same rows in 202 and 203 are from 2797 to 2799
the same rows in 203 and 204 are from 2798 to 2798
the same rows in 205 and 206 are from 2798 to 2799
the same rows in 211 and 212 are from 2799 to 2799
the same rows in 213 and 214 are from 2799 to 2799
the same rows in 214 and 215 are from 2799 to 2799
the same rows in 215 and 216 are from 2798 to 2798
the same rows in 217 and 218 are from 2798 to 2798
the same rows in 222 and 223 are from 2797 to 2797
the same rows in 224 and 225 are from 2449 to 2449
the same rows in 226 and 227 are from 2799 to 2799
the same rows in 227 and 228 are from 2798 to 2799
the same rows in 228 and 229 are from 2799 to 2799
the same rows in 230 and 231 are from 2795 to 2795
the same rows in 232 and 233 are from 2799 to 2799
the same rows in 233 and 234 are from 2798 to 2799
the same rows in 234 and 235 are from 2799 to 2799
the same rows in 235 and 236 are from 2799 to 2799
the same rows in 238 and 239 are from 2798 to 2798
the same rows in 239 and 240 are from 2799 to 2799
the same rows in 240 and 241 are from 2796 to 2799
the same rows in 242 and 243 are from 2799 to 2799
the same rows in 244 and 245 are from 2797 to 2799
the same rows in 245 and 246 are from 2796 to 2798
the same rows in 246 and 247 are from 2793 to 2797
the same rows in 247 and 248 are from 2778 to 2799
the same rows in 248 and 249 are from 2772 to 2799
the same rows in 249 and 250 are from 2773 to 2799
the same rows in 250 and 251 are from 2793 to 2799
the same rows in 251 and 252 are from 2790 to 2799
the same rows in 252 and 253 are from 2791 to 2798
the same rows in 253 and 254 are from 2790 to 2798
the same rows in 254 and 255 are from 2777 to 2799
the same rows in 255 and 256 are from 2779 to 2799
the same rows in 256 and 257 are from 2782 to 2798
the same rows in 257 and 258 are from 2772 to 2799
the same rows in 258 and 259 are from 2791 to 2797
the same rows in 259 and 260 are from 2788 to 2798
the same rows in 260 and 261 are from 2790 to 2798
the same rows in 261 and 262 are from 2797 to 2798
the same rows in 262 and 263 are from 2792 to 2799
the same rows in 263 and 264 are from 2798 to 2799
the same rows in 264 and 265 are from 2790 to 2799
the same rows in 265 and 266 are from 2770 to 2798
the same rows in 266 and 267 are from 2779 to 2798
the same rows in 267 and 268 are from 2786 to 2799
the same rows in 268 and 269 are from 2781 to 2799
the same rows in 269 and 270 are from 2782 to 2797
the same rows in 270 and 271 are from 2772 to 2799
the same rows in 271 and 272 are from 2771 to 2799
the same rows in 272 and 273 are from 2743 to 2799
the same rows in 273 and 274 are from 2769 to 2798
the same rows in 274 and 275 are from 2782 to 2799
the same rows in 275 and 276 are from 2779 to 2797
the same rows in 276 and 277 are from 2790 to 2798
the same rows in 277 and 278 are from 2788 to 2797
the same rows in 278 and 279 are from 2795 to 2799
172

# 合并数据表

In [5]:
merged_data = pd.DataFrame()
for i in range(len(dataset)):
    merged_data = pd.concat([merged_data, dataset[i]], ignore_index=True)
print(len(merged_data))
merged_data.head()

782992

   Upload Time  Read    Author                                     Title
0  01-23 11:46     3    真诚的范芝蔓                     创业板聪明的去年都在顶部跑了还剩下一地鸡毛
1  01-23 11:45     2  生意亨通de孙膑  今年一月基金平均值居然跌了近百分之十，这是一个相当罕见的大事，因为大盘跌了三年了
2  01-23 11:22   135   股海有花_小号                               逆势大涨，也只是开始！
3  01-23 11:14    23    线上持破位走                                  欢迎回到1200
4  01-23 11:08   169      东游8戒                           天字号利好脚步声，确实临近了！

In [6]:
merged_data.head()
merged_data.tail()
print(merged_data.iloc[0,0])

01-23 11:46

# 增加年份

In [7]:
year = 2024
count = 0

for i in range(len(merged_data)):
    if i != 0:
        last = merged_data.iloc[i-1,0]
        next = merged_data.iloc[i,0]
        # print((int(last[5:7]),int(next[0:2])))

        if int(last[5:7]) < int(next[0:2]):
            count += 1
            year -= 1
            print('current year: %d' % year)
            merged_data.iloc[i,0] = str(year) + '-' + merged_data.iloc[i,0]

        else:
            merged_data.iloc[i,0] = str(year) + '-' + merged_data.iloc[i,0]
            
    else:
        merged_data.iloc[i,0] = str(year) + '-' + merged_data.iloc[i,0]

print(count)

current year: 2023
current year: 2022
current year: 2021
current year: 2020
current year: 2019
current year: 2018
current year: 2017
current year: 2016
current year: 2015
9

In [8]:
merged_data.head()
merged_data.tail()
print(merged_data.iloc[-1,0])

2015-12-25 02:32

# 保存为csv

In [ ]:
merged_data.to_csv('comment.csv',index=False)

# csv转tsv

In [3]:
with open(r'comment.csv', 'r', encoding='utf-8') as file:
    csv_reader = csv.reader(file)
    
    with open(r'comment.tsv', 'w', newline='', encoding='utf-8') as tsv:
        tsv_writer = csv.writer(tsv, delimiter='\t')
        
        for row in csv_reader:
            tsv_writer.writerow(row)

In [1]:
result2 = merged_data[merged_data['Upload Time'] == '2023-12-06 04:41']
print(result2)

NameError: name 'merged_data' is not defined